@charset "UTF-8";


div {
  box-sizing: border-box;
}

.template-wrap {
  height: 100%;
  border-radius: 25px;

}
.template-wrap figure {
  margin: 1em auto;
}

.ep-flowchart {
  width: 100%;
  position: relative;
}

.ep-svg-wrap .ep-svg-block {
  cursor: pointer;
}
.ep-svg-wrap .ep-svg-block rect, .ep-svg-wrap .ep-svg-block text {
  transition: all 0.3s ease;
}
.ep-svg-wrap .ep-svg-block:hover rect, .ep-svg-wrap .ep-svg-block:hover text {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
/* text-shadow: 0 1px 0 #fff, 0 -1px 0 #000; */

}

.ep-detail-wrap {
  position: absolute;
  background-color: rgba(246, 2013, 208, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  -webkit-box-shadow: inset 0px 0px 1000px 10px rgba(248,247,244,100);
  -moz-box-shadow: inset 0px 0px 1000px 10px rgba(248,247,244,100);
  box-shadow: inset 0px 0px 2000px 180px rgba(248,247,244,100);
}
.ep-detail-wrap .ep-detail {
  position: relative;
  background-color: #fff;
  color: #586075;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  margin: 50% auto;
  width: 100%;
  height: auto;
  padding: 1em 2em;
  border-radius: 15px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.ep-detail-wrap .ep-detail::after {
  content: "✖";
  color: #c8c8c8;
  position: absolute;
  top: 10px;
  right: 30px;
  display: inline-block;
  font-size: 35px;
  line-height: 10px;
  height: 0px;
  width: 0px;
  padding: 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 50%;
  border: 0px solid;
  cursor: pointer;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.pop-details-enter-active, .pop-details-leave-active {
  transition: all 0.3s ease-in-out;
}

.pop-details-enter {
  opacity: 0;
}

.pop-details-leave-to {
  opacity: 0;
}
